#page-content {
    text-align: center;
}

body {
    background-color: #222;
}

.game-canvas {
    border: 1px solid white;
    background-color: #080;
}

.grid-table {
    border-collapse: collapse;
}

.grid-table td {
    border: 1px solid white;
}

#image-bank img {
    border: 2px solid white;
}